/* Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Quicksand", serif; */

/*  font-family: "Raleway", serif; */



/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--White);
}

:root {
    --Black: #111;
    --Orange: #FEA301;
    --Sky-Blue: #01ACFD;
    --White: #F7F7F7;
}

/* Global CSS */

.gap-80 {
    padding-top: 80px;
}

.gap-60 {
    padding-top: 60px;
}

.text-center {
    text-align: center;
}

.display-flex {
    display: flex;
}

.hide {
    display: none;
}

.hiden {
    display: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/* header */

.logo {
    align-items: center;
    gap: 17px;
}

.logo img {
    width: 62px;
    height: 62px;
}

.logo h1 {
    color: var(--Black);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar ul {
    gap: 32px;
    list-style: none;
}

.navbar a {
    color: var(--Orange);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
}

.navbar button {
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    background: var(--Orange);
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    border: none;
    cursor: pointer;
}

nav ul li:nth-child(2) a {
    color: var(--Sky-Blue);
    font-weight: 500;
}

nav ul li:nth-child(3) a {
    color: #05D4DF;
    font-weight: 500;
}

nav ul li:nth-child(4) a {
    color: #5D58EF;
    font-weight: 500;
}

/* Hero Section */

.hero {
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 640px;
    ;
}

.hero-content h1 {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 24px;
}

.hero-content h1 .orange {
    color: var(--Orange);
}

.hero-content h1 span {
    color: var(--Sky-Blue);
}

.hero-content p {
    color: var(--Black, #111);
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}

.hero-content button {
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    background: var(--Black);
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border: none;
    cursor: pointer;
}

.hero-img img {
    width: 100%;
}

/* Standard Curriculum */

.curriculum {
    background-image: url(../assets/bg.png);
}

.curriculum h1 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.5px;
    /* 125% */
}

.cards {
    justify-content: space-between;
    text-align: center;
}

.card {
    display: flex;
    width: 32%;
    /* height: 476.784px; */
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 32.069px; */
    flex-shrink: 0;
    border-radius: 18.864px;

}

.card-1 {
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-2 {
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.card-3 {

    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}


.card img {
    width: 136.763px;
    height: 136.763px;
    margin-bottom: 32px;
}

.card h2 {
    color: #202020;
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.654px;
    margin-bottom: 32px;
}

.card p {
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 15.091px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.296px;
    margin-bottom: 32px;
}

.card a {
    text-align: center;
    font-family: Quicksand;
    font-size: 15.091px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.296px;
    text-decoration: none;
}

.card-1 a {
    color: #64C8FF;
}

.card-2 a {
    color: #F0AA00;
}

.card-3 a {
    color: #8700FF;
}



/* Arrow */
.arrows {
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 80px 0 60px 0;
}

.arrow {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: var(--Orange, #FEA301);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow:hover {
    background: var(--Black, #01ACFD);
}

.arrow i {
    color: #FFF;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;


}

/* Arrow */


/* Our Stories */

.stories-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 19px;
}

.left-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 19px;
}

.our-stories {

    background-image: url(../assets/bg.png), linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
}

.our-stories h1 {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.5px;

}

.right-card {
    background-color: var(--White);
    width: 100%;
    border-radius: 16px;
}

.right-card img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.right-card .p {
    color: #FFF;
    font-family: Raleway;
    font-size: 15.339px;
    font-weight: 500;
    line-height: 28.761px;
    text-transform: capitalize;
    width: 174.51px;
    height: 47.934px;
    padding: 14.38px 18.876px 15.339px 19.174px;
    border-radius: 47.934px;
    background: #3CD8E8;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -30px;
    margin-left: 38px;
}

.right-card h3 {
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.347px;
    margin-bottom: 51px;
    width: 402.495px;

}

.right-card p {
    color: #666;
    font-family: Raleway;
    font-size: 15.339px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.761px;
    width: 433.057px;
    /* 187.5% */
}

.right-card-content {
    padding: 50px;
}

.lcard {
    background-color: var(--White);
    border-radius: 16px;
}

.lcard img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.lcard p {
    color: #FFF;
    font-family: Raleway;
    font-size: 15.339px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 47.934px;
    background: #95B226;
    display: flex;
    width: 174.51px;
    height: 38.347px;
    padding: 9.587px 18.876px 10.545px 19.174px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -25px;
    margin-left: 38px;
}

.lcard h3 {
    color: #000;
    font-family: Quicksand;
    font-size: 15.339px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.761px;
    margin: 38px;
}



/* Our Stories */
























/* Footer */
footer {
    background-color: var(--Sky-Blue);
    padding: 100px 0;
}

.footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-item-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-logo img {
    width: 82.902px;
    height: 81.652px;
}


.footer-logo h1 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 42.143px;
    font-style: normal;
    font-weight: 700;
    line-height: 39.509px;
}

.footer-item-1 p {
    width: 400px;
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 35px 0;
}


.quick-link h2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quick-link ul li {
    list-style: none;
    margin: 20px 0;
}

.quick-link ul li a {
    color: #FFF;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.social h2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;

}

.icons {
    margin-top: 32px;
}

.icons a {
    text-decoration: none;
    margin-left: 5px;
}

/* Footer */






















































/*  */
.marquee {
    border-top: 1px solid var(--Orange);
    background-color: var(--Black);
    padding: 20px;
}

.marquee span img {
    height: 30px;
}

.marquee span {
    color: var(--Orange);
}

.blink {
    animation: blinker 1.5s linear infinite;
    color: var(--White);
    font-size: 30px;
    font-weight: bold;

}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*  */


























































/* Media for Mobile */
@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .gap-80 {
        padding-top: 40px;
    }

    .menu,
    .logo h1 {
        display: none;
    }

    nav button {
        display: none;
    }

    .hide {
        display: block;
    }

    nav {
        border-bottom: 0.5px solid var(--Orange, #FEA301);
    }

    .burger {
        font-size: 30px;
        cursor: pointer;
        padding-right: 24px;
    }

    .logo {
        padding-left: 12px;
    }

    /* Hero */
    .hero {
        flex-direction: column-reverse;
        padding: 17px;
    }

    .hero-content {
        text-align: center;
    }

    .hero-content h1 {
        font-family: Quicksand;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 18px;
    }

    .hero-content p {
        font-family: Quicksand;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 18px;
    }

    .hero-content button {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        padding: 6px 24px;
        border-radius: 8px;
    }

    .hero-img {
        margin-bottom: 20px;
    }


    /* curriculum */
    .curriculum h1 {
        text-align: center;
        font-family: Quicksand;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cards {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: calc(100% - 40px);
        margin: 20px;
        padding: 36px 28px;
    }

    .card img,
    .card h2,
    .card p {
        margin-bottom: 22px;
    }

    .card img {
        width: 92.595px;
        height: 92.595px;
    }

    .card h2 {
        font-size: 16.603px;
        font-style: normal;
        font-weight: 700;
        line-height: 20.754px;
    }

    .card p {
        text-align: center;
        font-family: Raleway;
        font-size: 10.217px;
        font-style: normal;
        font-weight: 500;
        line-height: 19.158px;
    }

    .card a {
        font-family: Quicksand;
        font-size: 10.217px;
        font-style: normal;
        font-weight: 700;
        line-height: 19.158px;
    }



    /* Arrows */
    .arrows,
    .right-card {
        display: none;
    }

    /*  */


    .left-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 11px;
        margin: 15px;
    }



    .lcard p {
        display: flex;
        width: 100px;
        height: 15px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: Raleway;
        font-size: 9.133px;
        font-style: normal;
        font-weight: 500;
        line-height: 17.125px;
        /* 187.5% */
        text-transform: capitalize;
        margin-top: -12px;
        margin-left: 10px;
        padding: 0;

    }

    .lcard h3 {
        font-size: 9.133px;
        line-height: 17.125px;
        width: 107.916px;
        height: 28.542px;
        margin: 22px;
    }

    .our-stories h1 {
        font-size: 26px;
        line-height: 57.5px;
    }

    .stories-cards {
        display: inline;

    }



    /*  */





    /* Footer */
    .footer-items {
        grid-template-columns: 1fr;

    }

    .footer-item-2 {
        grid-template-columns: 1fr;
    }

    .footer-item-1 p {
        width: 100%;
        font-size: 16px;
    }

    /* Footer */
    footer {
        padding: 50px 20px;
    }

    .footer-logo img {
        width: 69.227px;
        height: 69.227px;
    }

    .footer-logo h1 {
        font-size: 35.73px;
    }

    .quick-link h2 {
        font-size: 20.348px;
    }

    .quick-link ul li a {
        font-size: 16.957px;
    }

    .social h2 {
        font-size: 22.043px;
    }

}